@import "../helpers/helpers.scss";

.index_page{
    padding-top: 152px;
    .maindata{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 30px;
        padding: 5% 0 5% 0;
        @include sm-down{
            grid-template-columns: auto;
        }
    }
}